{erl_opts, [
    fail_on_warning,
    debug_info,
    {parse_transform, lager_transform}
]}.

{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "../test/eunit_results"}]}}
]}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{sub_dirs, ["rel"]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "3.0.2"}}}
]}.

{pre_hooks, [
    {eunit, "mkdir -p test/eunit_results"}
]}.

{clean_files, ["test/eunit_results"]}.