{erl_opts, [
    fail_on_warning,
    debug_info
]}.

{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "../test/eunit_results"}]}}
]}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{sub_dirs, ["rel"]}.

{deps, []}.

{pre_hooks, [
    {eunit, "mkdir -p test/eunit_results"}
]}.

{clean_files, ["test/eunit_results"]}.