[
    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},

    {lager, [
        {log_root, "log"},
        {crash_log, "lager/crash.log"},
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "lager/debug.log"}, {level, debug}]},
            {lager_file_backend, [{file, "lager/info.log"}, {level, info}]},
            {lager_file_backend, [{file, "lager/warning.log"}, {level, warning}]},
            {lager_file_backend, [{file, "lager/error.log"}, {level, error}]}
        ]}
    ]},

    {cellular_automaton, [
        {logging, true},
        {langton_ant, [
            {ant_number, 3},
            {width, 10},
            {height, 10},
            {border_width, 2},
            {border_height, 2},
            {max_desynchronization, 2}
        ]},
        {forams_automaton, [
            {width, 50},
            {height, 50},
            {border_width, 5},
            {border_height, 5},
            {max_desynchronization, 5},

            {foram_initial_generation_size, 0.02},
            {foram_reproduction_limit, 20},
            {foram_initial_energy, 15},
            {foram_starvation_rate, 1},

            {algae_initial_generation_size, 0.01},
            {algae_reproduction_limit, 10},
            {algae_initial_energy, 5},
            {algae_growth_rate, 2},
            {algae_spawn_size, 0.001},

            {valid_moves, [{-1, 1}, {-1, 0}, {-1, -1}, {0, 1}, {0, -1}, {1, 1}, {1, 0}, {1, -1}]}
        ]}
    ]}
].

