[
    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},

    {lager, [
        {log_root, "log"},
        {crash_log, "lager/crash.log"},
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "lager/debug.log"}, {level, debug}]},
            {lager_file_backend, [{file, "lager/info.log"}, {level, info}]},
            {lager_file_backend, [{file, "lager/warning.log"}, {level, warning}]},
            {lager_file_backend, [{file, "lager/error.log"}, {level, error}]}
        ]}
    ]},

    {cellular_automaton, [
        {langton_ant, [
            {ant_number, 3},
            {width, 10},
            {height, 10},
            {border_width, 5},
            {border_height, 5},
            {max_desynchronization, 1}
        ]}
    ]}
].

