[
    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},

    {lager, [
        {log_root, "log"},
        {crash_log, "lager/crash.log"},
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "lager/debug.log"}, {level, debug}]},
            {lager_file_backend, [{file, "lager/info.log"}, {level, info}]},
            {lager_file_backend, [{file, "lager/warning.log"}, {level, warning}]},
            {lager_file_backend, [{file, "lager/error.log"}, {level, error}]}
        ]}
    ]},

    {cellular_automaton, [
        {cellular_manager_nodes, ['worker@127.0.0.1']},
        {neighbours_connection_attempts, 60},
        {neighbours_connection_retry_delay, 5}, % 5 seconds
        {board_height, 10}, % height of board in tiles
        {board_width, 10}, % width of board in tiles
        {tile_height, 10}, % height of tile in cells
        {tile_width, 10} % width of tile in cells
    ]}
].

